aside{
	padding: 3rem 0 2rem 0;
}

main p{
	line-height: 1.5rem;
	margin: 3rem 1rem;
}

.grid{
	display: grid;
	grid-template-columns: 4rem 1fr 1fr 5rem;
	grid-template-rows: 9vh auto;
	grid-template-areas: 
	"menu logo logo search"
	"ph ph ph ph"
	"nav nav nav nav"
	"aside aside aside aside"
	"main main main main"
	"media media . footer";
}

.aboutme img{
	height: 10rem;
}

@media (min-width: 768px){
	aside{
		margin: auto;
	}
	nav ul li:nth-child(1) a{
		color: #000;
	}
	li:nth-child(1) > a:before{
		visibility: hidden;
	}
	.grid{
		display: grid;
		grid-template-columns: 5rem 23rem 1fr 5rem;
		grid-template-rows: 9vh auto;
		grid-template-areas: 
		"menu logo logo search"
		"ph ph ph ph"
        "nav nav nav nav"
        "aside aside aside aside"
		". main main ."
		". media footer .";
	}
}
@media (min-width: 960px){
	main p{
		font-size: .8rem;
		padding: 5rem 7rem 1rem 0;		
		margin: 0;
	}
	.grid{
		display: grid;
		grid-template-columns: 5rem 23rem 1fr 5rem;
		grid-template-rows: 9vh auto;
		grid-template-areas: 
		"menu logo logo search"
		"ph ph ph ph"
		"nav nav nav nav"
		". aside main main"
		". media footer .";
	}
}
