main{
	margin: 2rem 1rem;
}
img{
	padding-bottom: 1rem;
}

.grid{
	display: grid;
	grid-template-columns: 4rem 1fr 1fr 5rem;
	grid-template-rows: 9vh auto;
	grid-template-areas: 
	"menu logo logo search"
	"ph ph ph ph"
	"nav nav nav nav"
	"aside aside aside aside"
	"main main main main"
	"media media . footer";
}

@media (min-width: 768px){
	/* main p{
	font-size: .8rem;
	padding: 5rem 15rem 1rem 15rem;		
	} */
	main{
		padding: 1rem 9rem;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
		grid-gap: 1.3rem;
		grid-row-gap:1.3rem;
	}
	main img {
		width: 100%;
	}
	nav ul li:nth-child(2) a{
		color: #169e60;
	}

	li:nth-child(2) > a:before{
	visibility: hidden;
	}
	.grid{
	display: grid;
	grid-template-columns: 5rem 1fr 1fr 5rem;
	grid-template-rows: 9vh auto;
	grid-template-areas: 
	"menu logo logo search"
	"ph ph ph ph"
	"nav nav nav nav"
	"main main main main"
	". media footer .";
	}

}

@media screen and (min-width: 960px){	
	.grid{
		display: grid;
		grid-template-columns: 5rem 1fr 1fr 5rem;
		grid-template-rows: 9vh auto;
		grid-template-areas: 
		"menu logo logo search"
		"ph ph ph ph"
		"nav nav nav nav"
		"main main main main"
		". media footer .";
	}
}
